.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    padding-top: 90px;
    padding-bottom: 50px;
}

.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: scroll;
    /* border: 1px solid black; */
}

.about {
    font-family: 'Urbanist';
    font-size: 35pt;
    margin-bottom: 10px;
    color: #444649;
}

.about-underline {
    width: 100px;
    height: 4px;
    background-color: #444649;
}

.about-content {
    margin-top: 30px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.bio {
    margin-top: 70px;
    margin-left: 50px;
    width: 47%;
    padding: 0 20px;
    font-family: 'Urbanist';
    font-size: 20pt;
    text-align: justify;
}

.bio-color {
    color: #00b5c2;
    font-weight: bold;
}

.resume {
    font-size: 22pt;
    font-family: 'Urbanist';
    color: white;
    background-color: transparent;
    background-color: #00b5c2;
}

.resume:hover {
    background-color: #e31b6d;
}

.skills {
    margin-top: 70px;
    margin-left : 30px;
    width: 47%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    /* border: 1px solid black; */
}

.skill {
    font-size: 20pt;
    font-family: 'Urbanist';
    width: 350px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
}

.skill p {
    margin: 0;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 25pt;
}

.icon-circle {
    width: 50px;
    height: 50px;
    background-color: #00b5c2;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .about-container {
        width: 100%;
    }

    .about {
        font-size: 27pt;
    }
}