.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  position: relative;
  transition: top 0s ease-in-out;
  border-bottom: 5px #00b5c2 solid;
}

.navbar.fixed {
  position: fixed;
  top: 0;
}

.nav-item {
  float: left;
  display: block;
  color: white;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20pt;
  font-family: 'Urbanist';
  cursor: pointer;
}

.active-nav-item {
  float: left;
  display: block;
  color: #e31b6d;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20pt;
  cursor: pointer;
}

.nav-item:first-child {
  margin-left: 16%;
}

.nav-item:hover {
  color: #e31b6d;
}