.canvas-container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 0;
}

.text-content {
    font-family: 'Urbanist';
    color: white;
    font-size: 45pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.text-content p {
    margin: 0 0;
}

.red-text {
    color: #e31b6d;
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (max-width: 640px) {
    .canvas-container {
        width: 100%;
    }

    .text-content {
        font-size: 12.75pt;
        /* display: -webkit-box; */
        /* -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; */
    }
}

@media (min-width: 641px) and (max-width: 1007px) {
    .canvas-container {
        width: 100%;
    }

    .text-content {
        font-size: 21pt;
        /* display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; */
    }
}

@media (min-width: 1008px) {
    .canvas-container {
        width: 100%;
    }

    .text-content {
        font-size: 32pt;
        /* display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; */
    }
}